# Activar el motor de reescritura de Apache
RewriteEngine On

# Forzar UTF-8 en todas las respuestas
AddDefaultCharset UTF-8

# Especificar el archivo de indice del directorio
DirectoryIndex index.php

# Condicion: Si el archivo o directorio solicitado NO existe...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...entonces, redirigir la solicitud a index.php
RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
